.heading{
    background-color: #A8DADC;
    position: sticky;
    z-index: 99;
    color: white;
}
.dropdown-menu{
    background-color: #A8DADC;
    font-weight: 800;
}
.nav-logo{
    vertical-align: middle;
    margin-left: 9px;
}
.navbar-brand , .nav-link{
    color: #1D3557;
    background-color: none;
    border-radius: 50px;
}
.nav-link{
    letter-spacing: 1px;
    grid-area: 2px;
}
.me-auto {
    margin-left: auto!important;
    display: flex;
    align-items: center;
}


.nav-link:hover{
    transition: 0.1s ease-in-out;
    font-weight: bolder;
    border-radius: 50px;
}

.sticky-header {
    background-color: #A8DADC;
    color: white;
    position: sticky;
    top: 0;
    transform: translateY(-60px);
    animation: StickyHeader 0.3s ease forwards;
}
@keyframes StickyHeader {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}