.heading{
    background-color: #A8DADC;
    position: relative;
    z-index: 99;
    margin-bottom: 2rem;
}
.dropdown-menu{
    background-color: #A8DADC;
    font-weight: 800;
}
.nav-logo{
    vertical-align: middle;
    margin-left: 9px;
}
.navbar-brand , .nav-link{
    color: #1D3557;
    border-radius: 50px;
}
.nav-link{
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-link:before{
    content: "";
    position: absolute;
    bottom: .5px;
    height: 2px;
    width: 0%;
    background: #1D3557;
    border-radius: 50px;
    transition: 0.5s ease;
}

.nav-link:hover::before{
    width: 80%;
}

.sticky-header {
    background-color: #A8DADC;
    color: white;
    position: sticky;
    top: 0;
    transform: translateY(-60px);
    animation: StickyHeader 0.3s ease forwards;
}
@keyframes StickyHeader {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}